# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Environment variables
.env
.env.*
!.env.example

# Added by cargo

/target

# IDE settings
.idea/

# npm package
/node_modules

# EmEditor settings
/emeditor-terminal.eeWorkspace
/emeditor-terminal.eesln

# Python settings
uv.lock
pyproject.toml

# Exclude everything below this point from gminiignore
# local files
# A folder for storing files you want to manage but not commit
*.local

# AI files
*.local.md
AGENTS.override.md

# Gemini CLI
.gemini/settings.json

# Codex CLI
.codex/config.toml

# Junie CLI
.junie

# EmEditor SDK Documentation
/sdk

# Windows sandbox files
/sandbox

# MemPalace per-project files
mempalace.yaml
entities.json


# Added by cargo
#
# already existing elements were commented out

#/target
